



    .tam-icone{
        width:10%;
    }

    .tam-text{
        width:90%;
    }

    .pad-text {
        text-align: center;
    }

    .justify-center {
       justify-content: center; 
    }



    .top {
        top: 50px;
        position: relative;
    }



    .digite-email {
        color: gray;
    }
    
    .input-email {
        border: 1px solid darkgray;
        border-radius: 6px;
        padding: 10px;
        margin: 20px;
        width: 200px;
        height: 35px;
        width: 85%;
    }

 

    .borda-style {
        width: 400px;
        border-radius: 20px;
        border: 1px solid darkgray;
    }


   .criar-conta {
        color: white;
        padding-top: 100px;
        display:flex;
        justify-content: center;
    }

    a { text-decoration: none;
    }

 
    img {
        width: 200px; 
        height: 200px;
    }


